.activity-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    border: 0;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 51px 0 rgba(0,0,0,.08);
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}

.activity-card__container {
    grid-area: 1 / 1 / 1 / 2; 
    z-index: 1;
    padding: 10px 15px;
    box-sizing: border-box;  
    border-radius: 5px;
}

.activity-card__container {
    text-align-last: left;
}

.activity-card__title {
    font-family: var(--heading);
    color: #000000;
    font-size: 20px;
}