.client-details h2 {
    margin-bottom: 20px;
}
.client-details input {
    border: 0;
    padding: 10px 20px;
    border-radius: 40px;
    width: 640px;
    max-width: 100%;
}

.client-details__name,
.client-details__email {
    margin-bottom: 20px;
}